
  <div {% if module.style.horizontal_layout %}  class="faq-wrapper mt-9" {% else %} class="faq-wrapper faq-wrapper__centered mt-9" {% endif %} >
        <div {% if module.style.horizontal_layout %} class="col-12 col-lg-5" {% else %} class="col-12 col-lg-10" {% endif %}>
          <div {% if module.style.horizontal_layout %} class="heading heading--left" {% else %} class="heading heading--center" {% endif %}>
            <span class="eyebrow h6">EYEBROW</span>
            <h1 class="heading--title">Apex title</h1>
            <p class="heading--paragraph h6">
              Lacinia nam sed purus tempor id nunc vulputate. Sapien lorem integer
              eget quis suspendisse nulla. Ultricies scelerisque et pulvinar odio
              at mauris.
            </p>
            <div {% if module.style.horizontal_layout %} class="button-group-wrapper mt-4" {% else %} class="button-group-wrapper button-group-wrapper__centered  mt-4" {% endif %}>
              <button type="button" class="button button--primary button--medium">Button
                  <div class="icon-container-md c-white button-icon--right">
                      <svg>
                          <use xlink:href="#sprite_icon-arrow-right"></use>
                      </svg>
                  </div>
              </button>
            </div>
          </div>
        </div>
        <div {% if module.style.horizontal_layout %} class="col-12 col-lg-6" {% else %} class="col-12 col-md-10 col-lg-8" {% endif %}>
          <div {% if module.style.horizontal_layout %} class="faq-accordion-wrapper" {% else %} class="faq-accordion-wrapper__centered" {% endif %} >
            <div class="accordion-container">
              <div class="accordion-element py-3 py-sm-2 py-md-3">
                <button
                  class="d-flex justify-content-between align-items-center accordion-button p-1"
                >
                  <div class="h6">Lacinia nam sed purus tempor</div>
                  <div class="circle-animation open-closed">
                    <div class="accordion-icon plus">
                      <svg>
                        <use xlink:href="#sprite_icon-plus"></use>
                      </svg>
                    </div>
                    <div class="accordion-icon minus">
                      <svg>
                        <use xlink:href="#sprite_icon-minus"></use>
                      </svg>
                    </div>
                  </div>
                </button>
                <div class="accordion-panel">
                  <p class="fs-body1 m-0">
                    Lacinia nam sed purus tempor id nunc vulputate. Sapien lorem
                    integer eget quis suspendisse nulla. Ultricies scelerisque et
                    pulvinar odio at mauris
                  </p>
                </div>
              </div>
              <div class="accordion-element py-3 py-sm-2 py-md-3">
                <button
                  class="d-flex justify-content-between align-items-center accordion-button p-1"
                >
                  <div class="h6">Lacinia nam sed purus tempor</div>
                  <div class="circle-animation open-closed">
                    <div class="accordion-icon plus">
                      <svg>
                        <use xlink:href="#sprite_icon-plus"></use>
                      </svg>
                    </div>
                    <div class="accordion-icon minus">
                      <svg>
                        <use xlink:href="#sprite_icon-minus"></use>
                      </svg>
                    </div>
                  </div>
                </button>
                <div class="accordion-panel">
                  <p class="fs-body1 m-0">
                    Lacinia nam sed purus tempor id nunc vulputate. Sapien lorem
                    integer eget quis suspendisse nulla. Ultricies scelerisque et
                    pulvinar odio at mauris
                  </p>
                </div>
              </div>
              <div class="accordion-element py-3 py-sm-2 py-md-3">
                <button
                  class="d-flex justify-content-between align-items-center accordion-button p-1"
                >
                  <div class="h6">Lacinia nam sed purus tempor</div>
                  <div class="circle-animation open-closed">
                    <div class="accordion-icon plus">
                      <svg>
                        <use xlink:href="#sprite_icon-plus"></use>
                      </svg>
                    </div>
                    <div class="accordion-icon minus">
                      <svg>
                        <use xlink:href="#sprite_icon-minus"></use>
                      </svg>
                    </div>
                  </div>
                </button>
                <div class="accordion-panel">
                  <p class="fs-body1 m-0">
                    Lacinia nam sed purus tempor id nunc vulputate. Sapien lorem
                    integer eget quis suspendisse nulla. Ultricies scelerisque et
                    pulvinar odio at mauris
                  </p>
                </div>
              </div>
              <div class="accordion-element py-3 py-sm-2 py-md-3">
                <button
                  class="d-flex justify-content-between align-items-center accordion-button p-1"
                >
                  <div class="h6">Lacinia nam sed purus tempor</div>
                  <div class="circle-animation open-closed">
                    <div class="accordion-icon plus">
                      <svg>
                        <use xlink:href="#sprite_icon-plus"></use>
                      </svg>
                    </div>
                    <div class="accordion-icon minus">
                      <svg>
                        <use xlink:href="#sprite_icon-minus"></use>
                      </svg>
                    </div>
                  </div>
                </button>
                <div class="accordion-panel">
                  <p class="fs-body1 m-0">
                    Lacinia nam sed purus tempor id nunc vulputate. Sapien lorem
                    integer eget quis suspendisse nulla. Ultricies scelerisque et
                    pulvinar odio at mauris
                  </p>
                </div>
              </div>
              <div class="accordion-element py-3 py-sm-2 py-md-3">
                <button
                  class="d-flex justify-content-between align-items-center accordion-button p-1"
                >
                  <div class="h6">Lacinia nam sed purus tempor</div>
                  <div class="circle-animation open-closed">
                    <div class="accordion-icon plus">
                      <svg>
                        <use xlink:href="#sprite_icon-plus"></use>
                      </svg>
                    </div>
                    <div class="accordion-icon minus">
                      <svg>
                        <use xlink:href="#sprite_icon-minus"></use>
                      </svg>
                    </div>
                  </div>
                </button>
                <div class="accordion-panel">
                  <p class="fs-body1 m-0">
                    Lacinia nam sed purus tempor id nunc vulputate. Sapien lorem
                    integer eget quis suspendisse nulla. Ultricies scelerisque et
                    pulvinar odio at mauris
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
