@font-face {
	font-family: 'Fa-solid';
	src: url("https://26811811.fs1.hubspotusercontent-eu1.net/hubfs/26811811/fonts/fa-solid-900.woff2") format("woff2");
	font-style: normal;
	font-weight: 900
}

@font-face {
	font-family: 'Fa-solid';
	src: url("https://26811811.fs1.hubspotusercontent-eu1.net/hubfs/26811811/fonts/fa-light-300.woff2") format("woff2");
	font-style: normal;
	font-weight: 300
}

@font-face {
	font-family: 'Helvetica neue';
	src: url("https://26811811.fs1.hubspotusercontent-eu1.net/hubfs/26811811/fonts/HelveticaNeueLTW1G-BdEx.woff2") format("woff2");
	font-style: normal;
	font-weight: 500
}

body, h1, h2, h3, h4, h5, h6 {
  font-family:  'Helvetica neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
			Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji' !important;
}

p, span, button, button > div, a, label, div {
  font-family:  'Fa-solid', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
			Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji' !important;
}